$footer-background-color: $oil;
$footer-text-color: $white-smoke;

header {
	// primary-color is defined in _settings.scss
	background-color: $primary-color;
	text-align: center;

	img {
		height: 100px;
		margin: 1em;
	}
}

.content {
	padding: 0.5em;

	color: $oil;

	hr {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}

	h3 {
		margin-top: 1em;
		margin-bottom: 0;
	}
}

.wordcloud {
	height: 160px;
	margin: 0;
	text-align: right;
	a {
		margin: 0;
		padding: 0;
		text-align: right;
		right: 0;

		img {
			margin: 0;
			right: 0;
			float: right;
		}
	}
}


#reasons {
	list-style: none;
	margin-left: -1em;

	li {
		background: url("../img/checkmark.png") no-repeat left 0px;
		background-size: auto 30px;
		background-position: 0 0;
		margin-top: .5em;
		padding-left: 2.0em;
		margin-left: .5rem;

		height: 30px;
		line-height: 30px;

	}
}

footer {
	background-color: $footer-background-color;
	color: $footer-text-color;
	text-align: center;

	p {
		padding: 0.5em;
	}

	a {
		color: $footer-text-color;
		text-decoration: underline;

		&:hover {
			color: $footer-text-color;
		}
	}

	img {
		position: relative;
		height: 100px;
		margin: 0;
		margin-top: -40px;

	}
}

.contact-option {
	text-align: center;

	img {
		width: 160px;
	}
	p {
		margin: 0;
	}
}

.reference-logo {
	padding: 5rem;
}